<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493429738370-1buikv6038smotglurghbnbd45ejgsvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493429738370-1buikv6038smotglurghbnbd45ejgsvj</string>
	<key>API_KEY</key>
	<string>AIzaSyBiGmKDEui3i_7zjMgx-sBLQKlJB9ICLIs</string>
	<key>GCM_SENDER_ID</key>
	<string>493429738370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nifty.cbm01799.ChatApp01</string>
	<key>PROJECT_ID</key>
	<string>chattapp01</string>
	<key>STORAGE_BUCKET</key>
	<string>chattapp01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493429738370:ios:079750f901e01022211d9b</string>
	<key>DATABASE_URL</key>
	<string>https://chattapp01.firebaseio.com</string>
</dict>
</plist>